<footer class="mt-[140px] bg-blue-10">
    <div class="container-width grid md:grid-cols-2 md:gap-8 md:py-6 lg:gap-0 lg:grid-cols-4 py-12">
        <a href="/" class="logo text-[1.85rem] lg:text-[2.15rem] py-3">DevFinder</a>
        <div class="candidato">
            <h1 class="text-[1.85rem] lg:text-[2.15rem] mb-1">Candidato</h1>
            <ul class="grid gap-1 text-[1.05rem] lg:text-[1.15rem]">
                <li><a href="">Vagas Front End</a></li>
                <li><a href="">Vagas Back End</a></li>
                <li><a href="">Vagas JavaScript</a></li>
                <li><a href="">Vagas php</a></li>
            </ul>
        </div>
        <div class="recrutador">
            <h1 class="text-[1.85rem] lg:text-[2.15rem] mb-1">Recrutador</h1>
            <ul class="grid gap-1 text-[1.05rem] lg:text-[1.15rem]">
                <li><a href="">Publicar vaga</a></li>
                <li><a href="">Remover vaga</a></li>
                <li><a href="">Serviços</a></li>
                <li><a href="">Email marketing</a></li>
            </ul>
        </div>
        <div class="minha conta">
            <h1 class="text-[1.85rem] lg:text-[2.15rem] mb-1">Minha conta</h1>
            <ul class="grid gap-1 text-[1.05rem] lg:text-[1.15rem]">
                <li><a href="">Meu perfil</a></li>
                <li><a href="">Criar conta</a></li>
                <li><a href="">Alterar foto</a></li>
                <li><a href="">Salvar vagas</a></li>
            </ul>
        </div>
    </div>
    <p class="copy text-gray-1 text-[1.15] text-center font-medium py-1">Designed and created by <a href="">Ruan Costa</a></p>
</footer>