<header class="py-6">
    <div class="container-width flex justify-between items-center relative w-full">
        <a href="/" class="logo text-[2rem] text-gray-13">DevFinder</a>
        {{#if token}}
        <ul class="z-[2] max-lg:hidden max-lg:absolute right-5 top-full 2xl:flex text-[1.2rem] gap-5 text-gray-13 items-center">
            <li><a href="/ver-vagas">Ver vagas</a></li>
            <li><a href="/anunciar-vaga">Anunciar vaga</a></li>
            <li class="font-medium text-gray-13 cursor-pointer relative">
                <a href="/minha-conta" class="">Minha conta</a>
            </li>
            <li class="account font-medium  rounded text-gray-13 cursor-pointer relative">
                <a href="/logout" class=""><i class="ri-logout-box-r-line mr-2"></i>Logout</a>
            </li>
        </ul>
            <input type="checkbox" name="" id="menu-mobile" class="hidden">
            <label for="menu-mobile" class="lg:hidden">
                <div class="menu-hamburguer"></div>
            </label>
        {{else}}
            <ul class=" z-[2] max-lg:hidden max-lg:absolute right-5 top-full lg:flex text-[1.2rem] gap-5 text-gray-13 items-center">
            <li><a href="/ver-vagas">Ver vagas</a></li>
            <li><a href="/anunciar-vaga">Anunciar vaga</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/criar-conta" class="bg-blue-10 px-2 py-1 lg:px-4 lg:py-2 rounded text-gray-1">Criar conta</a></li>
            </ul>
            <input type="checkbox" name="" id="menu-mobile" class="hidden">
            <label for="menu-mobile" class="lg:hidden">
                <div class="menu-hamburguer"></div>
            </label>
        {{/if}}
    </div>
</header>